.form-position {
    width: 70%;
    margin: auto;
  }
  .error-text {
    color: red;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-family: sans-serif;
  }
  
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .center-block {
    text-align: center;
  }
  
  .alert-style {
    width: max-content;
    padding: 15px 150px;
    margin: auto;
  }